@import url(http://fonts.googleapis.com/css?family=Kadwa);

body, html {
  margin: 0 auto;
  color: white;
  background-color: green;
  text-align: center;
  font-family: 'Kadwa', serif;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: white;
  border: none;
  margin: 0 auto;
  padding: 0 auto;
}

h1 {
  margin: 0 auto;
  font-size: 3em;
}

.logo {
  width: 24%;
  height: 200px;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#ourtown {
  width: 100%;
  height: 200px;
  padding: 5% 0 5% 0;
  background: url('./images/sbourtown.jpg') no-repeat center;
  background-size: cover;
}

#title {
  font-family: Verdana;
  width: 100%;
  background-color: rgba(112,112,112,0.5);
}

#sbcs {
  text-align: left;
}

#codeLegion {
  font-size: 10em;
  margin: 2% 0 2% 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#desc {
  text-align: left;
}

.orange {
  color: rgba(255, 102, 0, 1);
}

.student {
  width: 25%;
  height: 200px;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  display: inline-block;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.name {
  position: relative;
  top: 75%;
  padding: 0 2%;
  margin: 0 auto;
  text-align: left;
}

.rclc {
  position: relative;
  top: 30%;
  color: black;
  text-align: center;
}

#sbSolutions {background-image:url('./images/sbsolutions.png');}
#findingYourDestination {background-image:url('./images/findingyourdestination.png');}
#stopBullying {background-image:url('./images/stopbullying.png');}
#positiveEffects {background-image:url('./images/positiveeffects.png');}


#rclc:hover {background-image:url('./images/RCLC.jpg');}
#ambria:hover {background-image:url('./images/Ambria.JPG');}
#amiri:hover {background-image:url('./images/Amiri.JPG');}
#antonio:hover {background-image:url('./images/Antonio.JPG');}
#asante:hover {background-image:url('./images/Asante.JPG');}
#braylon:hover {background-image:url('./images/Braylon.JPG');}
#breauna:hover {background-image:url('./images/BreAuna.JPG');}
#caribia:hover {background-image:url('./images/Caribia.JPG');}
#cecilly:hover {background-image:url('./images/Cecilly.JPG');}
#christian:hover {background-image:url('./images/Christian.JPG');}
#dama:hover {background-image:url('./images/Dama.JPG');}
#daniela:hover {background-image:url('./images/Daniela.JPG');}
#florida:hover {background-image:url('./images/Florida.JPG');}
#kiara:hover {background-image:url('./images/Kiara.JPG');}
#maya:hover {background-image:url('./images/Maya.JPG');}
#red:hover {background-image:url('./images/Red.JPG');}
#ray:hover {background-image:url('./images/RCLCfrog.jpg');}
#sha-nia:hover {background-image:url('./images/Sha-Nia.JPG');}
#skylar:hover {background-image:url('./images/Skylar.JPG');}
#tommy:hover {background-image:url('./images/Tommy.JPG');}

#rclc {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/RCLC.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#ambria {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Ambria.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#amiri {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Amiri.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#antonio {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Antonio.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#asante {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Asante.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#braylon {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Braylon.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#breauna {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/BreAuna.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#caribia {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Caribia.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#cecilly {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Cecilly.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#christian {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Christian.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#dama {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Dama.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#daniela {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Daniela.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#florida {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Florida.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#kiara {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Kiara.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#maya {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Maya.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#ray {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/RCLCfrog.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#red {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Red.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#sha-nia {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Sha-Nia.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#skylar {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Skylar.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#tommy {
  background:linear-gradient(rgba(255, 102, 0, 0.4),rgba(255, 102, 0, 0.4)),url('./images/Tommy.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
